body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.tile-holder {
  display: flex;
  overflow: auto;
  background: #8094a1;
}

.tile {
  width: 9em;
  height: 9em;
  background-color: #fff;
  border-radius: 4px;
  margin: 1em;
}
.tile-center-content {
  display: flex;
  position: relative;
<<<<<<< HEAD
  flex-direction: column;
=======
>>>>>>> c8bad0b60d8806c539e78dd9454028cd387eb640
}
.tile-center-content canvas {
  margin: auto auto;
}

.remove-plan-button {
  position: absolute;
  right: 4px;
  top: 4px;
}
<<<<<<< HEAD

.tile-title {
  padding: 4px;
}
=======
>>>>>>> c8bad0b60d8806c539e78dd9454028cd387eb640
