body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.tile-holder {
  display: flex;
  overflow: auto;
  background: #8094a1;
}

.tile {
  height: 140px;
  width: 140px;
  background-color: #fff;
  border-radius: 4px;
  margin: 1em;
  flex: 0 0 140px;
  overflow: hidden;
  position: relative;
}
.tile-center-content {
  display: flex;
  position: relative;
  flex-direction: column;
}
.tile-center-content canvas {
  margin: auto auto;
}

.tile-image {
  position: absolute;
  bottom: 0;
  height: 120px;
  width: 100%;
  border-top: 1px solid rgb(55, 71, 79);
}

.vault-floor-empty {
  height: 100%;
  width: 100%;
  padding: 2em;
  font-size: 2em;
  color: #efefef;
  text-align: center;
}

.remove-plan-button {
  position: absolute;
  right: 4px;
  top: 4px;
}

.tile-title {
  padding: 4px;
}

#root .ant-layout {
  position: relative;
}

#root,
#root > div,
section.ant-layout {
  height: 100%;
}
