body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.tile-holder {
  display: flex;
  overflow: auto;
  background: #8094a1;
}

.tile {
  width: 140px;
  height: 140px;
  background-color: #fff;
  border-radius: 4px;
  margin: 1em;
}
.tile-center-content {
  display: flex;
  position: relative;
  flex-direction: column;
}
.tile-center-content canvas {
  margin: auto auto;
}

.remove-plan-button {
  position: absolute;
  right: 4px;
  top: 4px;
}

.tile-title {
  padding: 4px;
}
